@font-face {
	font-family: "UniversLTStd";
	src: url("..fonts/UniversLTStd.otf") format('opentype');
	font-weight: normal;
	font-style: normal;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#banner {
	width: 889px;
	height: 163px;
	overflow: hidden;
	border: 2px solid #02bff1;
	position: relative;
	background-color: white;
	
}

#logo {
}

.second-slide #message1 {
	font-size: 60px;
	font-family: "UniversLTStd";
	color: #02bff1;

}

#dotted-circle {
	background-image: url("../images/dottedCircle.png");
}

#top-left-dot {
	background-image: url("../images/topLeftDot.png");
}

#top-middle-dot {
	background-image: url("../images/topLeftDot.png");
}

#top-right-dot {
	background-image: url("../images/topLeftDot.png");
}




